<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>doh</title>
</head>
<body>
    <div>hi {{my_name}}</div>
    <div>User list:</div>
    <div>
        {% for user in user_all %}
        <div>user: {{ user }}</div>
        <div>uid: {{ user.uid }}</div>
        <div>content: {{ user.content }}</div>
        {% endfor %}
    </div>

    <div>
        {% for post in post_all %}
        <div>user: {{ post }}</div>
        <div>uid: {{ post.name }}</div>
        <div>content: {{ post.content }}</div>
        {% endfor %}
    </div>

</body>
</html>