<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>doh</title>
</head>
<body>
    <div>hi {{my_name}}</div>
    <div>User list:</div>
    <div>
        {% for user in user_all %}
        <div>user: {{ user }}</div>
        {% endfor %}
    </div>

    <div>
        {% for article in article_all %}
        <div>article: {{ article }}</div>
        <div>title: {{ article.title }}</div>
        <div>content: {{ article.content }}</div>
        <div>키워드: {{ article.keyword }}</div>
        {% endfor %}
    </div>

</body>
</html>