<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>doh</title>
</head>
<body>
    <div>hi {{my_name}}</div>
    <div>{{ u }}</div>
    <div>
        {% for user in a %}
            {{ user }}
            {{ user.uid }}
            {{ user.content }}
        {% endfor %}
    </div>
</body>
</html>