<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RSS Brunch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
{% if no_result %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading text-center">'{{ no_result }}' 검색결과가 없습니다</h4>
</div>
{% endif %}

<div style="position: relative;">
    <form action="">
        <div class="text-center" style="margin-top: 200px; margin-bottom: 30px;">
            <a class="text-black-50" href="{% url 'articles:search-keyword' %}">
                <h2>Brunch RSS Feed</h2>
            </a>
        </div>
        <div class="row justify-content-md-center" >
            <div class="container" style="max-width: 700px;">
                <div class="input-group">
                  <input type="text" class="form-control" name="keyword" placeholder="입력한 검색어를 통해 RSS Feed 생성">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="submit">Create</button>
                  </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-md-center" style="margin-top: 20px;">
        <div class="container text-black-50 text-center" style="width: 90%;">
            생성된 Feed 검색어 :
            {% for keyword in keywords %}
                <a href="{% url 'articles:feeds' keyword.keyword %}">{{ keyword.keyword }}</a>,
            {% endfor %}

        </div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>