<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>브런치 키워드 피드 생성</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
{% if no_result %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading text-center">검색결과가 없습니다</h4>
</div>
{% endif %}

<div style="position: relative;">
    <form action="">
        <div class="text-center" style="margin-top: 15%;"><h2 class="text-black-50">Brunch RSS Feed</h2></div>
        <div class="row justify-content-md-center" >
            <div class="container" style="max-width: 700px;">
                <div class="input-group">
                  <input type="text" class="form-control" name="keyword" placeholder="입력한 검색어를 통해 RSS Feed 생성">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="submit">Create</button>
                  </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% block content %}
{% endblock %}
</body>
</html>